---
# Only the main Sass file needs front matter (the dashes)
---

@import "minimal-mistakes";

/* Visually hide skip links */
.skip-links {
  position: absolute !important;
  left: -9999px !important;
  top: auto !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
}
